
@media only screen and (min-width: 1440px){
  .left_top h1{
    font-size: 2vw;
  }
  .right_top h1{
    font-size: 2vw;
    left: 82vw;
  }
  .left_bottom h1{
    top:94vh;
    font-size: 2vw;
  }
  .right_bottom h1{
    font-size: 2vw;
    left: 84vw;
  }
.background{
  background-size: 100vw;
  }
.two{
  background-size: 100vw;
}



}
@media only screen and (min-width: 1300px) and (max-width: 1440px) {

  .image1{
    top: 35vh;
  }
  .image2{
    top: 38vh;
  }
  .image3{
    top: 36vh;
  }
  .image4{
    top: 36vh;
  }
  .image5{
    top: 35vh;
  }
  .image6{
    top: 37vh;
  }
  .image7{
    top: 38vh;
  }
  .image8{
    top: 36vh;
  }
  .image9{
    top: 36vh;
  }
  .image10{
    top: 35vh;
  }
  .image11{
    top: 36vh;
  }
  .image12{
    top: 36vh;
  }
  .image13{
    top: 36vh;
  }
  .image14{
    top: 35vh;
  }
  .image15{
    top: 36vh;
  }
  .image16{
    top: 38vh;
  }
  .image17{
    top: 35vh;
  }
  .image18{
    top: 36vh;
  }
  .image19{
    top: 35vh;
  }
  .image20{
    top: 36vh;
  }
  .image21{
    top: 36vh;
  }
  .image22{
    top: 38vh;
  }
  .image23{
    top: 36vh;
  }
  .image24{
    top: 36vh;
  }
  .image25{
    top: 35vh;
  }
  .image26{
    top: 37vh;
  }
  .image27{
    top: 36vh;
  }
  .image28{
    top: 37vh;
  }
  .image29{
    top: 35vh;
  }
  .image20{
    top: 36vh;
  }
  .image31{
    top: 36vh;
  }
  .image32{
    top: 36vh;
  }
  .image33{
    top: 38vh;
  }
  .image34{
    top: 35vh;
  }
  .image35{
    top: 38vh;
  }
  .image36{
    top: 37vh;
  }
  .image37{
    top: 36vh;
  }
  .image38{
    top: 36vh;
  }
  .image39{
    top: 35vh;
  }
  .image40{
    top: 36vh;
  }
  .image41{
    top: 38vh;
  }
  .image42{
    top: 37vh;
  }
  .image43{
    top: 36vh;
  }
  .image44{
    top: 36vh;
  }
  .image45{
    top: 36vh;
  }
  .image46{
    top: 35vh;
  }
  .image47{
    top: 36vh;
  }
  .image48{
    top: 36vh;
  }
  .image49{
    top: 36vh;
  }
  .image50{
    top: 38vh;
  }
  .image51{
    top: 35vh;
  }
  .image52{
    top: 36vh;
  }
  .image53{
    top: 37vh;
  }
  .image54{
    top: 36vh;
  }
  .image55{
    top: 35vh;
  }
  .image56{
    top: 36vh;
  }
  .image57{
    top: 36vh;
  }
  .image58{
    top: 38vh;
  }
  .image59{
    top: 36vh;
  }
  .image60{
    top: 35vh;
  }
  .image61{
    top: 36vh;
  }
  .image62{
    top: 36vh;
  }
  .image63{
    top: 35vh;
  }
  .image64{
    top: 36vh;
  }
  .image65{
    top: 36vh;
  }
  .image66{
    top: 36vh;
  }
  .image67{
    top: 37vh;
  }
  .image68{
    top: 35vh;
  }
  .image69{
    top: 36vh;
  }
  .image60{
    top: 36vh;
  }
  .image61{
    top: 36vh;
  }
  .image62{
    top: 35vh;
  }
  .image63{
    top: 36vh;
  }
  .image64{
    top: 35vh;
  }
  .image65{
    top: 36vh;
  }
  .image66{
    top: 36vh;
  }
  .image67{
    top: 36vh;
  }
  .image68{
    top: 37vh;
  }
  .image69{
    top: 36vh;
  }
  .image70{
    top: 38vh;
  }
  .image71{
    top: 36vh;
  }
  .image72{
    top: 36vh;
  }
  .image73{
    top: 35vh;
  }
  .image74{
    top: 36vh;
  }
  .image75{
    top: 38vh;
  }
  .image76{
    top: 36vh;
  }
  .image77{
    top: 36vh;
  }
  .image78{
    top: 37vh;
  }
  .image79{
    top: 36vh;
  }
  .image80{
    top: 38vh;
  }
  .image81{
    top: 36vh;
  }
  .image82{
    top: 36vh;
  }
  .image83{
    top: 36vh;
  }
  .image84{
    top: 35vh;
  }
  .image85{
    top: 36vh;
  }
  .image86{
    top: 38vh;
  }
  .image87{
    top: 36vh;
  }
  .image88{
    top: 35vh;
  }
  .image89{
    top: 36vh;
  }
  .image90{
    top: 38vh;
  }
  .image91{
    top: 36vh;
  }
  .image92{
    top: 35vh;
  }
  .image93{
    top: 37vh;
  }
  .image94{
    top: 36vh;
  }
  .image95{
    top: 38vh;
  }
  .image96{
    top: 35vh;
  }
  .image97{
    top: 36vh;
  }
  .image98{
    top: 37vh;
  }
  .image99{
    top: 37vh;
  }
  .image100{
    top: 35vh;
  }
  .image101{
    top: 38vh;
  }
}
/* Tablet */
@media only screen and (min-device-width: 744px) and (max-device-width: 1300px) {

  .left_top h1{
    font-size: 3vw;
  }
  .right_top h1{
    font-size: 3vw;
    left: 73vw;
  }
  .left_bottom h1{
    font-size: 3vw;
  }
  .right_bottom h1{
    font-size: 3vw;
    left: 78vw;
  }
  .footer p{
    font-size: 2vw;
  }
  .footer{
    width: 101vw;
    height: 10vw;
    flex-wrap: wrap;
  }
    .background{
    background-size: 315vw;
    }
  .two{
    background-size: 120vh
  }
  .text2{
    top: 40vh;
  }

  .text3{
    top: 50vh;
  }

  .text4{
    top: 60vh;
  }
  .image1{
    top: 55vh;
    background-size: 9vw;
  }
  .image2{
    top: 58vh;
    background-size: 9vw;
  }
  .image3{
    top: 56vh;
    background-size: 9vw;
  }
  .image4{
    top: 56vh;
    background-size: 9vw;
  }
  .image5{
    top: 55vh;
    background-size: 9vw;
  }
  .image6{
    top: 57vh;
    background-size: 9vw;
  }
  .image7{
    top: 58vh;
    background-size: 9vw;
  }
  .image8{
    top: 56vh;
    background-size: 9vw;
  }
  .image9{
    top: 56vh;
    background-size: 9vw;
  }
  .image10{
    top: 55vh;
    background-size: 9vw;
  }
  .image11{
    top: 56vh;
    background-size: 9vw;
  }
  .image12{
    top: 56vh;
    background-size: 9vw;
  }
  .image13{
    top: 56vh;
    background-size: 9vw;
  }
  .image14{
    top: 55vh;
    background-size: 9vw;
  }
  .image15{
    top: 56vh;
    background-size: 9vw;
  }
  .image16{
    top: 58vh;
    background-size: 9vw;
  }
  .image17{
    top: 55vh;
    background-size: 9vw;
  }
  .image18{
    top: 56vh;
    background-size: 9vw;
  }
  .image19{
    top: 55vh;
    background-size: 9vw;
  }
  .image20{
    top: 56vh;
    background-size: 9vw;
  }
  .image21{
    top: 56vh;
    background-size: 9vw;
  }
  .image22{
    top: 58vh;
    background-size: 9vw;
  }
  .image23{
    top: 56vh;
    background-size: 9vw;
  }
  .image24{
    top: 56vh;
    background-size: 9vw;
  }
  .image25{
    top: 55vh;
    background-size: 9vw;
  }
  .image26{
    top: 57vh;
    background-size: 9vw;
  }
  .image27{
    top: 56vh;
    background-size: 9vw;
  }
  .image28{
    top: 57vh;
    background-size: 9vw;
  }
  .image29{
    top: 55vh;
    background-size: 9vw;
  }
  .image20{
    top: 56vh;
    background-size: 9vw;
  }
  .image31{
    top: 56vh;
    background-size: 9vw;
  }
  .image32{
    top: 56vh;
    background-size: 9vw;
  }
  .image33{
    top: 58vh;
    background-size: 9vw;
  }
  .image34{
    top: 55vh;
    background-size: 9vw;
  }
  .image35{
    top: 58vh;
    background-size: 9vw;
  }
  .image36{
    top: 57vh;
    background-size: 9vw;
  }
  .image37{
    top: 56vh;
    background-size: 9vw;
  }
  .image38{
    top: 56vh;
    background-size: 9vw;
  }
  .image39{
    top: 55vh;
    background-size: 9vw;
  }
  .image40{
    top: 56vh;
    background-size: 9vw;
  }
  .image41{
    top: 58vh;
    background-size: 9vw;
  }
  .image42{
    top: 57vh;
    background-size: 9vw;
  }
  .image43{
    top: 56vh;
    background-size: 9vw;
  }
  .image44{
    top: 56vh;
    background-size: 9vw;
  }
  .image45{
    top: 56vh;
    background-size: 9vw;
  }
  .image46{
    top: 55vh;
    background-size: 9vw;
  }
  .image47{
    top: 56vh;
    background-size: 9vw;
  }
  .image48{
    top: 56vh;
    background-size: 9vw;
  }
  .image49{
    top: 56vh;
    background-size: 9vw;
  }
  .image50{
    top: 58vh;
    background-size: 9vw;
  }
  .image51{
    top: 55vh;
     background-size: 9vw;
  }
  .image52{
    top: 56vh;
    background-size: 9vw;
  }
  .image53{
    top: 57vh;
     background-size: 9vw;
  }
  .image54{
    top: 56vh;
    background-size: 9vw;
  }
  .image55{
    top: 55vh;
    background-size: 9vw;
  }
  .image56{
    top: 56vh;
    background-size: 9vw;
  }
  .image57{
    top: 56vh;

     background-size: 9vw;
  }
  .image59{
    top: 56vh;
    background-size: 9vw;
  }
  .image60{
    top: 55vh;
     background-size: 9vw;
  }
  .image61{
    top: 56vh;
    background-size: 9vw;
  }
  .image62{
    top: 56vh;
    background-size: 9vw;
  }
  .image63{
    top: 55vh;
    background-size: 9vw;
  }
  .image64{
    top: 56vh;
    background-size: 9vw;
  }
  .image65{
    top: 56vh;
    background-size: 9vw;
  }
  .image66{
    top: 56vh;
    background-size: 9vw;
  }
  .image67{
    top: 57vh;
     background-size: 9vw;
  }
  .image68{
    top: 55vh;
    background-size: 9vw;
  }
  .image69{
    top: 56vh;
    background-size: 9vw;
  }
  .image70{
    top: 58vh;
     background-size: 9vw;
  }
  .image71{
    top: 56vh;
    background-size: 9vw;
  }
  .image72{
    top: 56vh;
    background-size: 9vw;
  }
  .image73{
    top: 55vh;
    background-size: 9vw;
  }
  .image74{
    top: 56vh;
    background-size: 9vw;
  }
  .image75{
    top: 58vh;
     background-size: 9vw;
  }
  .image76{
    top: 56vh;
    background-size: 9vw;
  }
  .image77{
    top: 56vh;
    background-size: 9vw;
  }
  .image78{
    top: 57vh;
    background-size: 9vw;
  }
  .image79{
    top: 56vh;
    background-size: 9vw;
  }
  .image80{
    top: 58vh;
    background-size: 9vw;
  }
  .image81{
    top: 56vh;
    background-size: 9vw;
  }
  .image82{
    top: 56vh;
    background-size: 9vw;
  }
  .image83{
    top: 56vh;
    background-size: 9vw;
  }
  .image84{
    top: 55vh;
    background-size: 9vw;
  }
  .image85{
    top: 56vh;
    background-size: 9vw;
  }
  .image86{
    top: 58vh;
    background-size: 9vw;
  }
  .image87{
    top: 56vh;
     background-size: 9vw;
  }
  .image88{
    top: 55vh;
    background-size: 9vw;
  }
  .image89{
    top: 56vh;
    background-size: 9vw;
  }
  .image90{
    top: 58vh;
    background-size: 9vw;
  }
  .image91{
    top: 56vh;
    background-size: 9vw;
  }
  .image92{
    top: 55vh;
    background-size: 9vw;
  }
  .image93{
    top: 57vh;
    background-size: 9vw;
  }
  .image94{
    top: 56vh;
    background-size: 9vw;
  }
  .image95{
    top: 58vh;
    background-size: 9vw;
  }
  .image96{
    top: 55vh;
    background-size: 9vw;
  }
  .image97{
    top: 56vh;
    background-size: 9vw;
  }
  .image98{
    top: 57vh;
    background-size: 9vw;
  }
  .image99{
    background-size: 9vw;
  }
  .image100{
    top: 55vh;
    background-size: 9vw;
  }
  .image101{
    top: 58vh;
    background-size: 9vw;
  }
}
@media only screen and (min-device-width: 420px) and (max-device-width: 744px) {
    .left_top h1{
      font-size: 5vw;
    }
    .right_top h1{
      font-size: 5vw;
      left: 60vw;
    }
    .left_bottom h1{
      font-size: 5vw;
    }
    .right_bottom h1{
      font-size: 5vw;
      left: 65vw;
    }
  .background{
    background-size: 100vh;
    }
  .two{
    background-size: 100vh
  }
  .image1{
    top: 45vh;
    background-size: 7vw;
  }
  .image2{
    top: 48vh;
    background-size: 7vw;
  }
  .image3{
    top: 46vh;
    background-size: 7vw;
  }
  .image4{
    top: 46vh;
    background-size: 7vw;
  }
  .image5{
    top: 45vh;
    background-size: 7vw;
  }
  .image6{
    top: 47vh;
    background-size: 7vw;
  }
  .image7{
    top: 48vh;
    background-size: 7vw;
  }
  .image8{
    top: 46vh;
    background-size: 7vw;
  }
  .image9{
    top: 46vh;
    background-size: 7vw;
  }
  .image10{
    top: 45vh;
    background-size: 7vw;
  }
  .image11{
    top: 46vh;
    background-size: 7vw;
  }
  .image12{
    top: 46vh;
    background-size: 7vw;
  }
  .image13{
    top: 46vh;
    background-size: 7vw;
  }
  .image14{
    top: 45vh;
    background-size: 7vw;
  }
  .image15{
    top: 46vh;
    background-size: 7vw;
  }
  .image16{
    top: 48vh;
    background-size: 7vw;
  }
  .image17{
    top: 45vh;
    background-size: 7vw;
  }
  .image18{
    top: 46vh;
    background-size: 7vw;
  }
  .image19{
    top: 45vh;
    background-size: 7vw;
  }
  .image20{
    top: 46vh;
    background-size: 7vw;
  }
  .image21{
    top: 46vh;
    background-size: 7vw;
  }
  .image22{
    top: 48vh;
    background-size: 7vw;
  }
  .image23{
    top: 46vh;
    background-size: 7vw;
  }
  .image24{
    top: 46vh;
    background-size: 7vw;
  }
  .image25{
    top: 45vh;
    background-size: 7vw;
  }
  .image26{
    top: 47vh;
    background-size: 7vw;
  }
  .image27{
    top: 46vh;
    background-size: 7vw;
  }
  .image28{
    top: 47vh;
    background-size: 7vw;
  }
  .image29{
    top: 45vh;
    background-size: 7vw;
  }
  .image20{
    top: 46vh;
    background-size: 7vw;
  }
  .image31{
    top: 46vh;
    background-size: 7vw;
  }
  .image32{
    top: 46vh;
    background-size: 7vw;
  }
  .image33{
    top: 48vh;
    background-size: 7vw;
  }
  .image34{
    top: 45vh;
    background-size: 7vw;
  }
  .image35{
    top: 48vh;
    background-size: 7vw;
  }
  .image36{
    top: 47vh;
    background-size: 7vw;
  }
  .image37{
    top: 46vh;
    background-size: 7vw;
  }
  .image38{
    top: 46vh;
    background-size: 7vw;
  }
  .image39{
    top: 45vh;
    background-size: 7vw;
  }
  .image40{
    top: 46vh;
    background-size: 7vw;
  }
  .image41{
    top: 48vh;
    background-size: 7vw;
  }
  .image42{
    top: 47vh;
    background-size: 7vw;
  }
  .image43{
    top: 46vh;
    background-size: 7vw;
  }
  .image44{
    top: 46vh;
    background-size: 7vw;
  }
  .image45{
    top: 46vh;
    background-size: 7vw;
  }
  .image46{
    top: 45vh;
    background-size: 7vw;
  }
  .image47{
    top: 46vh;
    background-size: 7vw;
  }
  .image48{
    top: 46vh;
    background-size: 7vw;
  }
  .image49{
    top: 46vh;
    background-size: 7vw;
  }
  .image50{
    top: 48vh;
    background-size: 7vw;
  }
  .image51{
    top: 45vh;
     background-size: 7vw;
  }
  .image52{
    top: 46vh;
    background-size: 7vw;
  }
  .image53{
    top: 47vh;
     background-size: 7vw;
  }
  .image54{
    top: 46vh;
    background-size: 7vw;
  }
  .image55{
    top: 45vh;
    background-size: 7vw;
  }
  .image56{
    top: 46vh;
    background-size: 7vw;
  }
  .image57{
    top: 46vh;

     background-size: 7vw;
  }
  .image59{
    top: 46vh;
    background-size: 7vw;
  }
  .image60{
    top: 45vh;
     background-size: 7vw;
  }
  .image61{
    top: 46vh;
    background-size: 7vw;
  }
  .image62{
    top: 46vh;
    background-size: 7vw;
  }
  .image63{
    top: 45vh;
    background-size: 7vw;
  }
  .image64{
    top: 46vh;
    background-size: 7vw;
  }
  .image65{
    top: 46vh;
    background-size: 7vw;
  }
  .image66{
    top: 46vh;
    background-size: 7vw;
  }
  .image67{
    top: 47vh;
     background-size: 7vw;
  }
  .image68{
    top: 45vh;
    background-size: 7vw;
  }
  .image69{
    top: 46vh;
    background-size: 7vw;
  }
  .image70{
    top: 48vh;
     background-size: 7vw;
  }
  .image71{
    top: 46vh;
    background-size: 7vw;
  }
  .image72{
    top: 46vh;
    background-size: 7vw;
  }
  .image73{
    top: 45vh;
    background-size: 7vw;
  }
  .image74{
    top: 46vh;
    background-size: 7vw;
  }
  .image75{
    top: 48vh;
     background-size: 7vw;
  }
  .image76{
    top: 46vh;
    background-size: 7vw;
  }
  .image77{
    top: 46vh;
    background-size: 7vw;
  }
  .image78{
    top: 47vh;
    background-size: 7vw;
  }
  .image79{
    top: 46vh;
    background-size: 7vw;
  }
  .image80{
    top: 48vh;
    background-size: 7vw;
  }
  .image81{
    top: 46vh;
    background-size: 7vw;
  }
  .image82{
    top: 46vh;
    background-size: 7vw;
  }
  .image83{
    top: 46vh;
    background-size: 7vw;
  }
  .image84{
    top: 45vh;
    background-size: 7vw;
  }
  .image85{
    top: 46vh;
    background-size: 7vw;
  }
  .image86{
    top: 48vh;
    background-size: 7vw;
  }
  .image87{
    top: 46vh;
     background-size: 7vw;
  }
  .image88{
    top: 45vh;
    background-size: 7vw;
  }
  .image89{
    top: 46vh;
    background-size: 7vw;
  }
  .image90{
    top: 48vh;
    background-size: 7vw;
  }
  .image91{
    top: 46vh;
    background-size: 7vw;
  }
  .image92{
    top: 45vh;
    background-size: 7vw;
  }
  .image93{
    top: 47vh;
    background-size: 7vw;
  }
  .image94{
    top: 46vh;
    background-size: 7vw;
  }
  .image95{
    top: 48vh;
    background-size: 7vw;
  }
  .image96{
    top: 45vh;
    background-size: 7vw;
  }
  .image97{
    top: 46vh;
    background-size: 7vw;
  }
  .image98{
    top: 47vh;
    background-size: 7vw;
  }
  .image99{
    background-size: 7vw;
  }
  .image100{
    top: 45vh;
    background-size: 7vw;
  }
  .image101{
    top: 48vh;
    background-size: 7vw;
  }
  p{
    font-size: 11vh;
    width: 600vw;
  }

  .text2{
    top: 30vh;
  }

  .text3{
    top: 40vh;
  }

  .text4{
    top: 50vh;
  }
  h3{
    font-size: 1.2vh;
  }
  .footer{
      width: 101vw;
      height: 10vw;
      flex-wrap: wrap;
    }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 420px) {
    .left_top h1{
      font-size: 5vw;
    }
    .right_top h1{
      font-size: 5vw;
      left: 60vw;
    }
    .left_bottom h1{
      font-size: 5vw;
    }
    .right_bottom h1{
      font-size: 5vw;
      left: 65vw;
    }
  .background{
    background-size: 100vh;
    }
  .two{
    background-size: 100vh
  }
  .image1{
    top: 45vh;
    background-size: 7vw;
  }
  .image2{
    top: 48vh;
    background-size: 7vw;
  }
  .image3{
    top: 46vh;
    background-size: 7vw;
  }
  .image4{
    top: 46vh;
    background-size: 7vw;
  }
  .image5{
    top: 45vh;
    background-size: 7vw;
  }
  .image6{
    top: 47vh;
    background-size: 7vw;
  }
  .image7{
    top: 48vh;
    background-size: 7vw;
  }
  .image8{
    top: 46vh;
    background-size: 7vw;
  }
  .image9{
    top: 46vh;
    background-size: 7vw;
  }
  .image10{
    top: 45vh;
    background-size: 7vw;
  }
  .image11{
    top: 46vh;
    background-size: 7vw;
  }
  .image12{
    top: 46vh;
    background-size: 7vw;
  }
  .image13{
    top: 46vh;
    background-size: 7vw;
  }
  .image14{
    top: 45vh;
    background-size: 7vw;
  }
  .image15{
    top: 46vh;
    background-size: 7vw;
  }
  .image16{
    top: 48vh;
    background-size: 7vw;
  }
  .image17{
    top: 45vh;
    background-size: 7vw;
  }
  .image18{
    top: 46vh;
    background-size: 7vw;
  }
  .image19{
    top: 45vh;
    background-size: 7vw;
  }
  .image20{
    top: 46vh;
    background-size: 7vw;
  }
  .image21{
    top: 46vh;
    background-size: 7vw;
  }
  .image22{
    top: 48vh;
    background-size: 7vw;
  }
  .image23{
    top: 46vh;
    background-size: 7vw;
  }
  .image24{
    top: 46vh;
    background-size: 7vw;
  }
  .image25{
    top: 45vh;
    background-size: 7vw;
  }
  .image26{
    top: 47vh;
    background-size: 7vw;
  }
  .image27{
    top: 46vh;
    background-size: 7vw;
  }
  .image28{
    top: 47vh;
    background-size: 7vw;
  }
  .image29{
    top: 45vh;
    background-size: 7vw;
  }
  .image20{
    top: 46vh;
    background-size: 7vw;
  }
  .image31{
    top: 46vh;
    background-size: 7vw;
  }
  .image32{
    top: 46vh;
    background-size: 7vw;
  }
  .image33{
    top: 48vh;
    background-size: 7vw;
  }
  .image34{
    top: 45vh;
    background-size: 7vw;
  }
  .image35{
    top: 48vh;
    background-size: 7vw;
  }
  .image36{
    top: 47vh;
    background-size: 7vw;
  }
  .image37{
    top: 46vh;
    background-size: 7vw;
  }
  .image38{
    top: 46vh;
    background-size: 7vw;
  }
  .image39{
    top: 45vh;
    background-size: 7vw;
  }
  .image40{
    top: 46vh;
    background-size: 7vw;
  }
  .image41{
    top: 48vh;
    background-size: 7vw;
  }
  .image42{
    top: 47vh;
    background-size: 7vw;
  }
  .image43{
    top: 46vh;
    background-size: 7vw;
  }
  .image44{
    top: 46vh;
    background-size: 7vw;
  }
  .image45{
    top: 46vh;
    background-size: 7vw;
  }
  .image46{
    top: 45vh;
    background-size: 7vw;
  }
  .image47{
    top: 46vh;
    background-size: 7vw;
  }
  .image48{
    top: 46vh;
    background-size: 7vw;
  }
  .image49{
    top: 46vh;
    background-size: 7vw;
  }
  .image50{
    top: 48vh;
    background-size: 7vw;
  }
  .image51{
    top: 45vh;
     background-size: 7vw;
  }
  .image52{
    top: 46vh;
    background-size: 7vw;
  }
  .image53{
    top: 47vh;
     background-size: 7vw;
  }
  .image54{
    top: 46vh;
    background-size: 7vw;
  }
  .image55{
    top: 45vh;
    background-size: 7vw;
  }
  .image56{
    top: 46vh;
    background-size: 7vw;
  }
  .image57{
    top: 46vh;

     background-size: 7vw;
  }
  .image59{
    top: 46vh;
    background-size: 7vw;
  }
  .image60{
    top: 45vh;
     background-size: 7vw;
  }
  .image61{
    top: 46vh;
    background-size: 7vw;
  }
  .image62{
    top: 46vh;
    background-size: 7vw;
  }
  .image63{
    top: 45vh;
    background-size: 7vw;
  }
  .image64{
    top: 46vh;
    background-size: 7vw;
  }
  .image65{
    top: 46vh;
    background-size: 7vw;
  }
  .image66{
    top: 46vh;
    background-size: 7vw;
  }
  .image67{
    top: 47vh;
     background-size: 7vw;
  }
  .image68{
    top: 45vh;
    background-size: 7vw;
  }
  .image69{
    top: 46vh;
    background-size: 7vw;
  }
  .image70{
    top: 48vh;
     background-size: 7vw;
  }
  .image71{
    top: 46vh;
    background-size: 7vw;
  }
  .image72{
    top: 46vh;
    background-size: 7vw;
  }
  .image73{
    top: 45vh;
    background-size: 7vw;
  }
  .image74{
    top: 46vh;
    background-size: 7vw;
  }
  .image75{
    top: 48vh;
     background-size: 7vw;
  }
  .image76{
    top: 46vh;
    background-size: 7vw;
  }
  .image77{
    top: 46vh;
    background-size: 7vw;
  }
  .image78{
    top: 47vh;
    background-size: 7vw;
  }
  .image79{
    top: 46vh;
    background-size: 7vw;
  }
  .image80{
    top: 48vh;
    background-size: 7vw;
  }
  .image81{
    top: 46vh;
    background-size: 7vw;
  }
  .image82{
    top: 46vh;
    background-size: 7vw;
  }
  .image83{
    top: 46vh;
    background-size: 7vw;
  }
  .image84{
    top: 45vh;
    background-size: 7vw;
  }
  .image85{
    top: 46vh;
    background-size: 7vw;
  }
  .image86{
    top: 48vh;
    background-size: 7vw;
  }
  .image87{
    top: 46vh;
     background-size: 7vw;
  }
  .image88{
    top: 45vh;
    background-size: 7vw;
  }
  .image89{
    top: 46vh;
    background-size: 7vw;
  }
  .image90{
    top: 48vh;
    background-size: 7vw;
  }
  .image91{
    top: 46vh;
    background-size: 7vw;
  }
  .image92{
    top: 45vh;
    background-size: 7vw;
  }
  .image93{
    top: 47vh;
    background-size: 7vw;
  }
  .image94{
    top: 46vh;
    background-size: 7vw;
  }
  .image95{
    top: 48vh;
    background-size: 7vw;
  }
  .image96{
    top: 45vh;
    background-size: 7vw;
  }
  .image97{
    top: 46vh;
    background-size: 7vw;
  }
  .image98{
    top: 47vh;
    background-size: 7vw;
  }
  .image99{
    background-size: 7vw;
  }
  .image100{
    top: 45vh;
    background-size: 7vw;
  }
  .image101{
    top: 48vh;
    background-size: 7vw;
  }
  p{
    font-size: 11vh;
    width: 600vw;
  }

  .text2{
    top: 30vh;
  }

  .text3{
    top: 40vh;
  }

  .text4{
    top: 50vh;
  }
  h3{
    font-size: 1.2vh;
  }
  .footer{
      width: 101vw;
      height: 10vw;
      flex-wrap: wrap;
    }
}
  .footer p{
    font-size: 2vw;
  }
}
